/* Background (might change if each page have different background) */ 
body{
    text-align: center; /*this might change since every page is centered and we probably don't want that */
    background: linear-gradient(to right,rgb(235, 94, 59),rgb(214, 153, 146), rgb(235, 94, 59));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* [[[Index page]]] */

/* title */
#h1{
    font-family: "press start 2p";
    border-style: solid;
    border-width: 10px;
    border-color: rgb(212, 31, 11);
    display: inline-block;
    padding: 5px;
}

/* paragraph 1 sentence */
#p1{
    font-family: "Anton";
}

/* disclaimer message */
#d1 {
    font-family: "press start 2p";
    color:rgb(82, 6, 153);
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* button */
.button1{          
    font-family: "Anton";
    font-size: 25px;
    padding: 10px;
    border-radius: 18px;
    background-color: rgb(76, 175, 80);
    color: white;
    position: relative;
    bottom: -600px;
}

.button1:hover {
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}
