/* [[[Index page]]] */
body{
    min-height: 800px;
    background: linear-gradient(to bottom, rgb(48, 45, 45), rgb(131, 131, 255), rgb(199, 229, 251));
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.title_effect{
    text-shadow: 
    0 0 5px rgb(87, 87, 255),
    0 0 10px rgb(87, 87, 227),
    0 0 15px rgb(111, 111, 219),
    0 0 20px rgb(142, 142, 228),
    0 0 30px rgb(131, 131, 255),
    0 0 40px rgb(131, 131, 255);
}

.highlight{
    color: rgb(255, 204, 17);
    text-shadow: 
    0 0 5px aliceblue,
    0 0 10px aliceblue,
    0 0 15px aliceblue,
    0 0 20px aliceblue,
    0 0 30px aliceblue,
    0 0 40px aliceblue;
}

.textbox{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "press start 2p";
    color:rgb(82, 6, 153);
    text-align: center;
}

.text{
    font-size: 10px;
    letter-spacing: 2px;
    border-bottom: 30px solid transparent;
    display: inline-block;
    color: rgb(82, 6, 153);
    font-family: "press start 2p";
    animation: typing 2s steps(40) alternate;
}

@keyframes typing{
    from {width: 0%;}
    to {width: 50%;}
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-family: "press start 2p";
    color: rgb(82, 6, 153);
    background-color: transparent;
    border: 2px solid rgb(82, 6, 153);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.btn:active {
    background-color: rgb(82, 6, 153);
    color: white;
    transform: scale(0.95);
}

.btn:hover {
    background-color: rgb(82, 6, 153);
    color: white;
    filter: drop-shadow(0 0 10px aliceblue) brightness(1.2);
    text-shadow: 
    0 0 5px cyan,
    0 0 10px cyan,
    0 0 15px cyan,
    0 0 20px cyan,
    0 0 30px cyan,
    0 0 40px cyan;
}

/*Underline animation for button*/
.btn:after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}

.btn:hover:after{
    width: 100%;
}


/* disclaimer message */
#d1 {
    text-align: center;
    font-family: "press start 2p";
    color:rgb(92,6,153);
    position: fixed;
    bottom: 0;
    width: 100%;
}


