/* [[[Slot Machine page]]] */
body{
    min-height: 100vh;
    background: linear-gradient(to bottom, rgb(48, 45, 45), rgb(131, 131, 255), rgb(199, 229, 251));
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textbox{
    position: relative;
    width: 100px;
    height: 100px;
    font-family: "press start 2p";
    color:rgb(82, 6, 153);
}

.slot-row{
    display:flex;
    gap:10px;
    justify-content: center;
    align-items: center;
    
}

.slot-window{
    width: 200px;
    height: 200px;
    overflow:hidden;
    position:relative;
    border:5px solid rgb(65, 114, 135);
    border-radius: 15px;
    background: linear-gradient(to bottom, rgb(83, 136, 241), rgb(60, 90, 180), rgba(190, 206, 255, 0.8));
}

.slot-machine{
    background: linear-gradient(to bottom, rgb(83, 136, 241), rgb(60, 90, 180), rgba(190, 206, 255, 0.8));
    padding: 40px;
    border:5px solid rgba(28, 69, 94, 0.696);
    border-radius: 20px;
    display: inline-block;
}

#slot-images{
    width: 100%;
    height: 100%;
} 

.slotbtns{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.spin-btn{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-family: "press start 2p";
    color: rgb(82, 6, 153);
    background-color: transparent;
    border: 2px solid rgb(82, 6, 153);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 6px rgb(82, 6, 153);
    transition: all 0.1s ease;
}

.spin-btn:active {
    box-shadow: 0 2px rgb(82, 6, 153);
    transform: translateY(4px);
}

.spin-btn:hover {
    background-color: rgb(82, 6, 153);
    color: white;
}

.stop-btn{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-family: "press start 2p";
    color: rgb(82, 6, 153);
    background-color: transparent;
    border: 2px solid rgb(82, 6, 153);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 6px rgb(82, 6, 153);
    transition: all 0.1s ease;
}

.stop-btn:active {
    box-shadow: 0 2px rgb(82, 6, 153);
    transform: translateY(4px);
}

.stop-btn:hover {
    background-color: rgb(64, 5, 119);
    color: white;
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-family: "press start 2p";
    color: rgb(82, 6, 153);
    background-color: transparent;
    border: 2px solid rgb(82, 6, 153);
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    margin-top: 5%;
    margin-left: 34%;
    bottom: -300px;
}

.btn:hover {
    background-color:  rgb(64, 5, 119);
    color: white;
}

.btn:after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}

.btn:hover:after{
    width: 100%;
}

